*{
    box-sizing: border-box;
}
body{
    background-color: rgb(65,35, 3);
    margin: 1rem;
   
}
img{
   
    height: 250px;
    width: 300px;
}
.container{
    display: flex;
    justify-content: space-between;
}
p{
    color: whitesmoke;
}


